<div class="comment clearfix">
  <!-- render @issue.comments-->
  <div class="comment_content">
    <p class="comment_name"><strong>@email.com</strong></p>
    <p class="comment_body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi pariatur vitae reprehenderit, nam dignissimos temporibus dicta, tenetur enim omnis odio architecto necessitatibus sapiente asperiores earum nulla ipsum hic mollitia! Dolores.</span>
    <span>Tenetur culpa omnis nesciunt, magni ut, mollitia debitis nobis aliquid quod quisquam ea beatae maxime vero voluptas quia recusandae assumenda, quidem explicabo molestiae minima numquam corporis qui. Magnam, sed eum.</span>
    <span>Mollitia ullam unde dolorem quis nam veniam dolore quidem incidunt tempora voluptatem, consectetur, explicabo dignissimos neque! Nulla consequuntur rem deserunt id sit expedita necessitatibus inventore, quas repudiandae deleniti praesentium explicabo.</span></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
  </div>
