
<div class="content-title">
  <h3 class="title">Title</h3>
    <p class="issue-author">by <span>john doe</span></p>
    <p class="issue-date">Submitted approximately <span>two weeks</span> ago</p>
</div>
