<h5><span>OnSite<span> Support Role</h5>
  <li>Setup rooms requiring cameras/scopes.</li>
  <li>Power on booms/towers</li>
  <li>Ensure proper settings on monitors, camera and light sources according to surgeon preference</li>
  <li>Communicate with OR manager and SPD regarding any potential equipment delays.</li>
  <li>Assist scrub technician and nurse by opening all sterile surgical supplies.</li>
  <li>Ensure image quality at the start of case.</li>
  <li>curately records and reports all changes and updates to surgeon preference cards.</li>
  <li>Ensure each case is setup according to surgeon preferences.</li>
  <li>Obtains and provides OR staff with additional surgical instruments that were not supplied at the start of the case.</li>
  <li>Assist with the coordination of instrument and equipment repairs</li>
  <li>Carries a Voalte' phone to provide support at any point during the case.</li>
  <li>Assist with collections of Stryker Sustainability Solutions program.</li>
  <li>Works closely with SPD for the delivery of necessary instrumentation.</li>
  <li>Help identify turnovers and facilitate the reprocessing in a timely manner.</li>
<h5>At the conclusion of each case:</h5>

    <li>Assist by disconnecting the camera, light source, and other cords</li>
    <li>Remove dirty trays from the sterile field to begin reprocessing and place onto case cart.</li>
    <li>Assist in transport of dirty cases to soiled utility room.</li>
