/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  box-sizing: border-box;
 }

body{
   background-color:#92bde7;
   color:#484e74;
   line-height: 1.6em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:1em;
 }

 .container{
   max-width: 1170px;
   padding:1em;
   margin-left: auto;
   margin-right: auto;
 }

 .wrapper{
   box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.8);
 }

 .wrapper > *{
   padding:1em;
 }

 ul{
   list-style: none;
   padding: 0;
 }

.navbar .navbar-nav .navbar-expand-lg .navbar-light .bg-light{
  display:flex;
  flex-wrap:wrap;
}

.navbar{
  background-color:#f9feff !important;
  margin-bottom: 10px;
}

.navbar-brand{
  color:#3581CD !important;
}

.navbar-brand span{
  color:#484e74 !important;
}


.nav-link{
  color:#ffcc00 !important;
}

.nav-link-sow{
  position: relative;
  bottom: 8px;
  color:#484e74 !important;
  text-decoration: none !important;
}

.nav-link-sow:hover{
  color:#3581CD !important;
}

.nav-item a:hover{
  color:#3581CD !important;

}

.navbar-new-issue-text{
  text-decoration: none !important;
  color:#484e74 !important;
}

.navbar-new-issue-text:hover{
  color:#3581CD !important;
}

.brand-color{
  color:blue;
}
