// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  background-color:#f9feff;
  padding:1em;
}

.content-title{
  text-align: center;
  border-bottom: 1px solid #d6dce0;
}

.content-title .title{
  text-decoration: none;
}

.issue-date span {
  font-style: oblique;
}
