// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  background-color:#e1dfdf;
  padding:1em;
}

.content-title{
  text-align: center;
}

.issue-date span {
  font-style: oblique;
}
